body {
  background-color: #424647;
  margin: 30px;
}

#slideshow {
  width: 800px;
  height: 400px;
  margin: 0 auto;
  text-align: center;
  background-color: #ddd;
  position: relative;
  overflow: hidden;
}

#slideshow img {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
}

#debug {
}

#slideshow .currentImg {
  
}

ul#slideDiscs {
  display: table;
  position: relative;
  z-index: 20;
  top: 80%;
}

ul#slideDiscs li {
  font-size: 38px;
  list-style: circle;
  color: #0797da;
  float: left;
  padding-right: 35px;
}

ul#slideDiscs li.selected {
  list-style: disc;
  color: #6cc3eb;
}
